yt-dlp==2025.2.19
requests==2.32.3
opencv-contrib-python==4.10.0.84
moviepy==1.0.3
librosa==0.10.2
numpy==1.26.4
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
google-api-python-client==2.155.0
beautifulsoup4==4.12.3
